<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wanjy.common.mapper.RolePermissionMapper">
    <select id="getRolePerssion" resultType="com.wanjy.backSystem.entity.MyRolePermission">
        SELECT
            role_permission.*,
            role.role_name,
            role.role_flag,
            permission.permission_name,
            permission.permission_url
        FROM
          role,
            permission,
            role_permission
        WHERE
            role_permission.permission_id=permission.permission_id
        and
            role_permission.role_id=role.role_id
    </select>

    <select id="getRolePerssionByOrder" resultType="com.wanjy.backSystem.entity.MyRolePermission">
        SELECT
            role_permission.*,
            role.role_name,
            role.role_flag,
            permission.permission_name,
            permission.permission_url
        FROM
          role,
            permission,
            role_permission
        WHERE
            role_permission.permission_id=permission.permission_id
        and
            role_permission.role_id=role.role_id
        and
          ${ew.sqlSegment}
    </select>

    <select id="getAllRolePermission" resultType="com.wanjy.backSystem.entity.MyRolePermission">
        SELECT
            role_permission.*,
            role.role_name,
            role.role_flag,
            permission.permission_name,
            permission.permission_url
        FROM
          role,
            permission,
            role_permission
        WHERE
            role_permission.permission_id=permission.permission_id
        and
            role_permission.role_id=role.role_id
    </select>
</mapper>
