<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
    <link rel="stylesheet" href="../lib/layui-v2.5.4/css/layui.css" media="all">
    <link rel="stylesheet" href="../css/public.css" media="all">
    <link rel="stylesheet" href="../lib/font-awesome-4.7.0/css/font-awesome.min.css" media="all">
    <style>
        .layui-btn:not(.layui-btn-lg ):not(.layui-btn-sm):not(.layui-btn-xs) {
            height: 34px;
            line-height: 34px;
            padding: 0 8px;
        }
    </style>

</head>
<body>
<form class="layui-form layui-form-pane" id="test" style="display:none">
    <div class="layui-form-item" >
        <input type="hidden" id="roleId">
    </div>
    <div class="layui-form-item">
        <div class="layui-inline" style="margin: 10px">
            <label class="layui-form-label" style="width: 100px">菜单名称</label>
            <div class="layui-input-inline">
                <input type="text" id="title" autocomplete="off" class="layui-input" style="width: 300px">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline" style="margin: 10px">
            <label for="" class="layui-form-label" style="width: 100px">菜单图标</label>
            <div class="layui-input-inline" style="width: 300px">
                    <input type="text" id="iconPicker" lay-filter="iconPicker" class="hide">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline" style="margin: 10px">
            <label class="layui-form-label" style="width: 100px">权限标识</label>
            <div class="layui-input-inline">
                <input type="text" id="authority" autocomplete="off" class="layui-input" style="width: 300px">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline" style="margin: 10px">
            <label class="layui-form-label" style="width: 100px">父级菜单</label>
            <div class="layui-input-inline" style="width: 300px">
                <select name="icon" id="parentId" lay-verify="required"  lay-search="" >
                    <option value=""></option>
                </select>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline" style="margin: 10px">
            <label class="layui-form-label" style="width: 100px">菜单url</label>
            <div class="layui-input-inline">
                <input type="text" id="href" autocomplete="off" class="layui-input" style="width: 300px">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline" style="margin: 10px">
            <label class="layui-form-label" style="width: 100px">排序号</label>
            <div class="layui-input-inline">
                <input type="text" id="orderNumber" autocomplete="off" class="layui-input" style="width: 300px">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline" style="margin: 10px">
            <label class="layui-form-label" style="width: 100px">类型</label>
            <div class="layui-input-inline">
                <input type="text" id="isMenu" autocomplete="off" class="layui-input" style="width: 300px">
            </div>
        </div>
    </div>
</form>
<div class="layuimini-container">
    <div class="layuimini-main">
        <blockquote class="layui-elem-quote">
            农家蔬果直通车--菜单管理
        </blockquote>
        <div>
            <div class="layui-btn-group">
                <button class="layui-btn" id="btn-expand">全部展开</button>
                <button class="layui-btn" id="btn-fold">全部折叠</button>
                <button class="layui-btn" id="btn-add">添加</button>
            </div>
            <table id="munu-table" class="layui-table" lay-filter="munu-table"></table>
        </div>
    </div>
</div>
<!-- 操作列 -->
<script type="text/html" id="auth-state">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>

<script src="../lib/layui-v2.5.4/layui.js" charset="utf-8"></script>
<script src="../js/lay-config.js?v=1.0.4" charset="utf-8"></script>
<script>
    layui.use(['table', 'treetable','iconPickerFa', 'form'], function () {
        var $ = layui.jquery;
        var table = layui.table;
        var treetable = layui.treetable;
        var iconPickerFa = layui.iconPickerFa;

        iconPickerFa.render({
            // 选择器，推荐使用input
            elem: '#iconPicker',
            // fa 图标接口
            url: "../lib/font-awesome-4.7.0/less/variables.less",
            // 是否开启搜索：true/false，默认true
            search: true,
            // 是否开启分页：true/false，默认true
            page: true,
            // 每页显示数量，默认12
            limit: 12,
            // 点击回调
            click: function (data) {
            },
            // 渲染成功后的回调
            success: function (d) {
            }
        });
        treetable.render({
            treeColIndex: 1,
            treeSpid: -1,
            treeIdName: 'menuId',
            treePidName: 'parentId',
            elem: '#munu-table',
            url: '/backmenu/getAllBackMenu',
            page: false,
            cols:
                [
                    [
                        {type: 'numbers'},
                        {field: 'title', minWidth: 200, title: '菜单名称'},
                        {field: 'authority', title: '权限标识'},
                        {field: 'href', title: '菜单url'},
                        {field: 'orderNumber', width: 80, align: 'center', title: '排序号'},
                        {
                            field: 'isMenu', width: 80, align: 'center', templet: function (d) {
                                if (d.isMenu == 1) {
                                    return '<span class="layui-badge layui-bg-gray">按钮</span>';
                                }
                                if (d.parentId == -1) {
                                    return '<span class="layui-badge layui-bg-blue">目录</span>';
                                } else {
                                    return '<span class="layui-badge-rim">菜单</span>';
                                }
                            }, title: '类型'
                        },
                        {templet: '#auth-state', width: 120, align: 'center', title: '操作'}
                    ]
                ],
            done: function () {
                layer.closeAll('loading');
            }
        });
        /**
         * 全部展开
         */
        $('#btn-expand').click(function () {
            treetable.expandAll('#munu-table');
        });
        /**
         * 全部折叠
         */
        $('#btn-fold').click(function () {
            treetable.foldAll('#munu-table');
        });
        /**
         * 添加
         */
        $('#btn-add').click(function () {

            editBox();
        });

        //监听工具条
        table.on('tool(munu-table)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;

            if (layEvent === 'del') {
                layer.msg('删除' + data.id);
            } else if (layEvent === 'edit') {
                layer.msg('修改' + data.id);
            }
        });
        /**
         * 弹出编辑框
         */
        function editBox() {
            layer.open({
                type:1,
                area:["600px"],
                title: '菜单编辑',
                content: $("#test"),
                shade: 0,
                btn: ['提交', '取消']
                ,btn1: function(){
                },
                btn2: function(){
                    layer.closeAll();
                },
                cancel: function(layero,index){
                    layer.closeAll();
                }
            });
        }


    });
</script>
</body>
</html>