<!DOCTYPE html>
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<title>农家蔬果直通车</title>
	<link rel="stylesheet" href="css/fancySelect.css" />
	<link rel="stylesheet" href="css/uniform.css" />
	<link rel="stylesheet" href="css/jquery.bxslider.css" />
	<link href="css/jquery-ui-1.10.4.custom.css" rel="stylesheet">
	<link rel="stylesheet" href="css/all.css" />
	<link media="screen" rel="stylesheet" type="text/css" href="css/screen.css" />

	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="wrapper">
		<div class="wrapper-holder">
			<div id="head"></div>
			<section class="main">
				<div class="content">
					<section class="bar">
						<div class="bar-frame">
							<ul class="breadcrumbs">
								<li><a href="/index">首页</a></li>
								<li>购物车</li>
							</ul>
						</div>
					</section>
					<table class="list_table" id="shopcar">
						<tr>
							<td class="braun first">
								<span>商品</span>
							</td>
							<td class="braun price">
								<span>单价(元)</span>
							</td>
							<td class="braun last">数量</td>
							<td class="braun qua"><span>规格</span></td>
							<td class="braun total"><span>总价(元)</span></td>
							<td class="braun last"></td>
						</tr>
					</table>
					<div class="box_sub_total">
						<a class="btn btn_finalize" onclick="toOrder()">立 即 购 买</a>
					</div>
				</div>
			</section>
		</div>
		<div id="foot"></div>
	</div>
	
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jcarousellite.js"></script>
	<script type="text/javascript" src="js/jquery.placeholder.js"></script>
	<script type="text/javascript" src="js/jquery.uniform.min.js"></script>
	<script type="text/javascript" src="js/fancySelect.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.js"></script>
	<script src="js/jquery-ui-1.10.4.custom.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script src="lib/layui-v2.5.4/layui.js" charset="utf-8"></script>

	<script>
        $("#head").load("/head");//加载头部
        $("#foot").load("/foot");//加载尾部
        layui.use(['form', ], function () {
            var form = layui.form
                , $ = layui.jquery;
            var datas;
            getshopcar();
            choseNorms=function(obj){
				alert(obj.value);
			};

            toOrder=function(){
                if (datas.length > 0) {
                    setTimeout(2000,window.location="/order?shopCarId="+datas[0].shopcarId);
				}else {
                    layer.config(
                        "购物车无商品",
                        {
                            icon: 5,//失败的表情
                            time: 1000 //1秒关闭（如果不配置，默认是3秒）
                        });
				}

			}

            deleteShopCar = function(shopCarId) {
                $.ajax({
                    url: "/shopcar/deleteShopCar",
                    type: 'delete',
                    dataType:'json',
                    data:{
                        "shopCarId":shopCarId
                    },
                    success: function (data) {
                        if (data.code == 0) {
                            getShopCarTotal();
                            layer.config(
                                data.msg,
                                {
                                    icon: 6,//成功的表情
                                    time: 1000 //1秒关闭（如果不配置，默认是3秒）
                                });
                            setTimeout(2000,window.location="/cart");
                        }
                        else {
                            layer.msg(
                                data.msg,
                                {
                                    icon: 5,//失败的表情
                                    time: 1000 //1秒关闭（如果不配置，默认是3秒）
                                })
                        }

                    }
                })
            };
            function getshopcar() {
                $.ajax({
                    url: "/shopcar/getshopcar",
                    type: 'get',
                    dataType:'json',
                    success: function (data) {
                        if (data.code == 0) {
                            var count = data.count;
                            var data = data.data;
                            datas=data;
                            var tr;
                            for(var i=0;i<count;i++){
                                var thisData=data[i];
                                var image=thisData.imgUrl.split(",");
                                var goods=thisData.goods;
                                var goodsNorms=thisData.goodsNorms;
                                var number=thisData.count;
                                var shopcarId=thisData.shopcarId;
                                tr+='<tr>'+
                                    '<td class="white first">'+
                                    '<img src="'+image[0]+'" height="131" width="90" alt="" />'+
                                    '<div class="description">'+
                                    '<h3><a href="#">'+goods.goodsName+'</a></h3>'+
                                    '</div>'+
                                    '</td>'+
                                    '<td class="white two">'+goodsNorms[0].goodsNowPrice+'</td>'+
                                    '<td class="white last">'+number+'</td>'+
                                    '<td class="white three">'+
                                    '<div class="row">'+
                                    '<select onchange="choseNorms(this)">';
									for (var j=0;j<goodsNorms.length;j++){
									    var goodsNorm=goodsNorms[j];
										tr+='<option value="'+goodsNorm.goodsNormsId+'">'+goodsNorm.goodsName+'</option>';
									}
                                    tr+='</select>'+
                                    '</div>'+
                                    '</td>'+
                                    '<td class="white four">'+goodsNorms[0].goodsNowPrice*number+'</td>'+
                                    '<td class="white last"><div class="row"><a class="btn-delete" onclick="deleteShopCar(\''+shopcarId+'\')">删除</a></div></td>'+
                                    '</tr>';
                            }
                            $("#shopcar").append(tr);
                        }
                        else {
                            layer.msg(
                                data.msg,
                                {
                                    icon: 5,//失败的表情
                                    time: 1000 //1秒关闭（如果不配置，默认是3秒）
                                })
                        }

                    }
                })
            }
		})

	</script>
</body>
</html>