<!DOCTYPE html>
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<title>农家蔬果直通车</title>
	<link rel="stylesheet" href="css/fancySelect.css" />
	<link rel="stylesheet" href="css/uniform.css" />
	<link rel="stylesheet" href="css/jquery.bxslider.css" />
	<link href="css/jquery-ui-1.10.4.custom.css" rel="stylesheet">
	<link rel="stylesheet" href="css/all.css" />
	<link media="screen" rel="stylesheet" type="text/css" href="css/screen.css" />
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="wrapper">
		<div class="wrapper-holder">
			<div id="head"></div>
			<section class="main">
				<div class="content">
					<section class="bar">
						<div class="bar-frame">
							<ul class="breadcrumbs">
								<li><a href="/index">首页</a></li>
								<li>购物车</li>
							</ul>
						</div>
					</section>
					<table class="list_table">
						<tr>
							<td class="braun first">
								<span>Item</span>
							</td>
							<td class="braun price">
								<span>Price</span>
							</td>
							<td class="braun qua"><span>Quantity</span></td>
							<td class="braun total"><span>Total</span></td>
							<td class="braun last"></td>
						</tr>
						<tr>
							<td class="white first">
								<img src="images/pic_13.png" height="131" width="90" alt="" />
								<div class="description">
									<h3><a href="#"> Lorem ipsum dolor sit</a></h3>
									<p>Dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi.</p>
								</div>
							</td>
							<td class="white two">$80.50</td>
							<td class="white three">
								<div class="row">
									<select id="size">
										<option>1</option>
										<option>2</option>
									</select>
								</div>
							</td>
							<td class="white four">$80.50</td>
							<td class="white last"><div class="row"><a class="btn-delete" href="#">delete</a></div></td>
						</tr>
						<tr>
							<td class="white first">
								<img src="images/pic_14.png" height="131" width="90" alt="" />
								<div class="description">
									<div class="description">
										<h3><a href="#">Ducimus qui blanditiis praesentium</a></h3>
										<p>Similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime.</p>
									</div>
								</div>
							</td>
							<td class="white two">$125.00</td>
							<td class="white three">
								<div class="row">
									<select id="quantity">
										<option>1</option>
										<option>2</option>
									</select>
								</div>
							</td>
							<td class="white four">$125.00</td>
							<td class="white last"><div class="row"><a class="btn-delete" href="#">delete</a></div></td>
						</tr>
						<tr>
							<td class="white first">
								<img src="images/pic_15.png" height="131" width="90" alt="" />
								<div class="description">
									<div class="description">
										<h3><a href="#">Temporibus autem quibusdam</a></h3>
										<p>Omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas</p>
									</div>
								</div>
							</td>
							<td class="white two">$125.00</td>
							<td class="white three">
								<div class="row">
									<select id="quantity-2">
										<option>1</option>
										<option>2</option>
									</select>
								</div>
							</td>
							<td class="white four">$125.00</td>
							<td class="white last"><div class="row"><a class="btn-delete" href="#">delete</a></div></td>
						</tr>
					</table>
					<ul class="list-table" style="display: none;">
					<li>
						<div class="rows rows-item">
							<img src="images/pic_13.png" height="131" width="90" alt="" />
							<h3><a href="#">Lorem ipsum dolor sit</a></h3>
						</div>
						<div class="rows-holder">
							<div class="rows rows-select">
								<div class="row">
									<select id="quantity">
										<option>1</option>
										<option>2</option>
									</select>
								</div>
							</div>
							<div class="rows rows-price">
								<span>$80.50</span>
							</div>
							<div class="rows rows-delete">
								<a class="btn-delete" href="#">delete</a>
							</div>
						</div>
					</li>
					<li>
						<div class="rows rows-item">
							<img src="images/pic_14.png" height="131" width="90" alt="" />
							<h3><a href="#">Ducimus qui blanditiis praesentium</a></h3>
						</div>
						<div class="rows-holder">
							<div class="rows rows-select">
								<div class="row">
									<select id="quantity-2">
										<option>1</option>
										<option>2</option>
									</select>
								</div>
							</div>
							<div class="rows rows-price">
								<span>$125.00</span>
							</div>
							<div class="rows rows-delete">
								<a class="btn-delete" href="#">delete</a>
							</div>
						</div>
					</li>
					<li>
						<div class="rows rows-item">
							<img src="images/pic_15.png" height="131" width="90" alt="" />
							<h3><a href="#">Temporibus autem quibusdam</a></h3>
						</div>
						<div class="rows-holder">
							<div class="rows rows-select">
								<div class="row">
									<select id="quantity-2">
										<option>1</option>
										<option>2</option>
									</select>
								</div>
							</div>
							<div class="rows rows-price">
								<span>$125.00</span>
							</div>
							<div class="rows rows-delete">
								<a class="btn-delete" href="#">delete</a>
							</div>
						</div>
					</li>
				</ul>
					<div class="box_sub_total">
						<h4>Subtotal: $380.50</h4>
						<p>+ shippment: $9.99</p>
						<h2>Total to pay: $80.99</h2>
						<a class="btn btn_finalize" href="#">Finalize and pay</a>
					</div>
				</div>
			</section>
		</div>
		<div id="foot"></div>
	</div>
	
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jcarousellite.js"></script>
	<script type="text/javascript" src="js/jquery.placeholder.js"></script>
	<script type="text/javascript" src="js/jquery.uniform.min.js"></script>
	<script type="text/javascript" src="js/fancySelect.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.js"></script>
	<script src="js/jquery-ui-1.10.4.custom.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script>
        $("#head").load("/head");//加载头部
        $("#foot").load("/foot");//加载尾部
	</script>
</body>
</html>