<footer id="footer">
    <div class="footer-content">
        <ul class="left_side">
            <li>
                <span>服务宗旨</span>
                <p style="line-height: 26px;">打造</br>高质量</br>无公害</br>绿色蔬果</p>
            </li>
            <li>
                <span>热销商品</span>
                <a href="#">Perspiciatis unde omnis</a>
                <a href="#">Numquam eius</a>
                <a href="#">Corporis suscipit laboriosam</a>
                <a class="last" href="#">Neque porro quisquam</a>
            </li>
            <li>
                <span>Contact us:</span>
                <p>Bambino INC.<br />6737 Arch St, PA 19107</p>
                <p>Tel. (421) 562 524 534<br />office@bambino.com</p>

            </li>
        </ul>
        <ul class="right_side">
            <li>
                <span>Social media:</span>
                <div class="social">
                    <a href="#" class="fb">Facebook</a>
                    <a href="#" class="tw">Twitter</a>
                </div>
                <div class="social">
                    <a href="#" class="gl">Google+</a>
                    <a href="#" class="pn">Pinterest</a>
                </div>
            </li>
        </ul>
        <div class="clear"></div>
        <p class="copy">Copyright 2020 Wanjy. All rights reserved.</p>
    </div>
</footer>