<footer id="footer">
    <div class="footer-content">
        <ul class="left_side">
            <li>
                <span>服务宗旨</span>
                <p style="line-height: 26px;">打造</br>高质量</br>无公害</br>绿色蔬果</p>
            </li>
            <li>
                <span>热销商品</span>
                <a href="#">蔬菜 细嫩清脆</a>
                <a href="#">苹果 冰凉可口</a>
                <a href="#">葡萄 鲜红透亮</a>
                <a class="last" href="#">蔬菜是巨大的营养宝库</a>
            </li>
            <li>
                <span>联系我们:</span>
                <p>万艳艳.<br />贵州省安顺市 561200</p>
                <p>电话. (0853) 18785361588<br />2284805665@qq.com</p>

            </li>
        </ul>
        <ul class="right_side">
            <li>
                <span>社会化媒体:</span>
                <div class="social">
                    <a href="#" class="fb">脸谱网</a>
                    <a href="#" class="tw">推特</a>
                </div>
                <div class="social">
                    <a href="#" class="gl">谷歌</a>
                    <a href="#" class="pn">微博</a>
                </div>
            </li>
        </ul>
        <div class="clear"></div>
        <p class="copy">Copyright 2020 Wanjy. All rights reserved.</p>
    </div>
</footer>