<!DOCTYPE html>
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<title>农家蔬果直通车</title>
	<link rel="stylesheet" href="css/fancySelect.css" />
	<link rel="stylesheet" href="css/uniform.css" />
	<link rel="stylesheet" href="css/jquery.bxslider.css" />
	<link href="css/jquery-ui-1.10.4.custom.css" rel="stylesheet">
	<link rel="stylesheet" href="css/all.css" />
	<link rel="stylesheet" href="lib/layui-v2.5.4/css/layui.css" media="all">
	<link rel="stylesheet" href="css/public.css" media="all">
	<link media="screen" rel="stylesheet" type="text/css" href="css/screen.css" />
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<style>
		.container>a:hover{
			text-decoration: none;
		}
	</style>
</head>
<body>
	<div id="wrapper">
		<div class="wrapper-holder">
			<!--header 头部-->
			<div id="head"></div>
			<section class="main">
				<div class="content">
					<div class="box_images">
						<div class="layui-carousel" id="banner" >

						</div>
					</div>
					<ul class="box_image_list">
						<li><a href="#"><img src="images/pic_02.png" alt="" ></a></li>
						<li><a href="#"><img src="images/pic_03.png" alt="" ></a></li>
						<li><a href="#"><img src="images/pic_04.png" alt="" ></a></li>
					</ul>
					<div class="clear"></div>

					<section class="container">
						<a><p style="line-height: 50px;font-size: 30px">热销商品</p></a>
						<hr/>
						<ul class="item-product" id="goodList">
						</ul>
					</section>
				</div>
			</section>
		</div>
		<div id="foot"></div>
	</div>

	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jcarousellite.js"></script>
	<script type="text/javascript" src="js/jquery.placeholder.js"></script>
	<script type="text/javascript" src="js/jquery.uniform.min.js"></script>
	<script type="text/javascript" src="js/fancySelect.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.js"></script>
	<script src="js/jquery-ui-1.10.4.custom.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script src="lib/layui-v2.5.4/layui.js" charset="utf-8"></script>
<script>

    layui.use('carousel', function(){
        var carousel = layui.carousel,
			$ = layui.jquery;
        //建造实例

        getBanner();
        getGoods();
        /**
		 * 获取轮播图
         */
        function getBanner() {
            $.ajax({
                url: "/banner/getbanner",
                type: 'get',
                success: function (data) {
                    if (data.code == 0) {
                        var count = data.count;
                        var data = data.data;
                        var html = '<div carousel-item>';
                        for (var i = 0; i < count; i++) {
                            html += '<div><a href="#"><img src="'+data[i].bannerUrl+'" alt="" ></a></div>'
                        }
                        html += '</div>';
                        $("#banner").append(html);
                        carousel.render({
                            elem: '#banner'
                            ,width: '100%' //设置容器宽度
                            ,height:'500px'
                            ,arrow: 'hover' //始终显示箭头
                            ,indicator:'none'
                            ,anim:'default'
                        });
                    }
                    else {
                        layer.msg(
                            data.msg,
                            {
                                icon: 5,//失败的表情
                                time: 1000 //1秒关闭（如果不配置，默认是3秒）
                            })
                    }

                }
            })
        }

        /**
		 * 获取商品
         */
        function getGoods() {
            $.ajax({
                url: "/goods/getGoodsInfo",
                type: 'get',
				dataType:'json',
				data:{
                  	"page":1,
					"limit":8
				},
                success: function (data) {
                    if (data.code == 0) {
                        var count = data.count;
                        var data = data.data;
                        var html = '';
                        for (var i = 0; i < count; i++) {
                            var imagesUrl=data[i].goodsImages.goodsImagesUrl;
                            var imageUrl=imagesUrl.split(',');
                            var goods=data[i].goods;
                            var goodsNormsList=data[i].goodsNormsList;
                            var goodsId=goods.goodsId;
							html +=
								'<li>'+
									'<div class="item">'+
										'<a href="/product?goodsId='+goodsId+'">'+
										'<div class="image" style="width: 250px;height: 290px">'+
											'<img src="'+imageUrl[0]+'" alt="图片加载失败" lay-src="images/loading.gif">'+
										'</div>'+
										'<span class="name">'+goods.goodsName+'</span>'+
										'<span>'+goodsNormsList[0].goodsOldPrice+'</span>'+
										'</a>'+
									'</div>'+
								'</li>';
                        }
                        html += '</div>';
                        $("#goodList").append(html);
                    }
                    else {
                        layer.msg(
                            data.msg,
                            {
                                icon: 5,//失败的表情
                                time: 1000 //1秒关闭（如果不配置，默认是3秒）
                            })
                    }

                }
            })
        }
    });

    $("#head").load("/head");//加载头部
    $("#foot").load("/foot");//加载尾部
</script>
</body>
</html>