<!DOCTYPE html>
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<title>个人中心</title>
	<link rel="stylesheet" href="css/fancySelect.css" />
	<link rel="stylesheet" href="css/uniform.css" />
	<link rel="stylesheet" href="css/jquery.bxslider.css" />
	<link href="css/jquery-ui-1.10.4.custom.css" rel="stylesheet">
	<link rel="stylesheet" href="css/all.css" />
	<link media="screen" rel="stylesheet" type="text/css" href="css/screen.css" />
	<link rel="stylesheet" href="../lib/layui-v2.5.4/css/layui.css" media="all">
	<link rel="stylesheet" href="../css/public.css" media="all">

	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
<input type="hidden" id="shopCarId" th:value="${shopCarId}">
	<div id="wrapper">
		<div class="wrapper-holder">
			<div id="head"></div>

				<form class="layui-form layui-form-pane" id="details" style="">
				<div style="text-align: center">
					<div class="layui-form-item" style="padding-left: 265px">
						<label class="layui-form-label">商品名称</label>
						<div class="layui-input-block">
							<p id="goodName" class="layui-input" style="width: 510px;text-align: center;line-height: 40px">
							</p>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">单价</label>
							<div class="layui-input-inline">
								<p id="good_price" class="layui-input" style="text-align: center;line-height: 40px">
								</p>
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">数量</label>
							<div class="layui-input-inline">
								<p id="good_number" class="layui-input" style="text-align: center;line-height: 40px">
								</p>
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">规格</label>
							<div class="layui-input-inline">
								<p id="goods_norms_id" class="layui-input" style="text-align: center;line-height: 40px">
								</p>
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">总价</label>
							<div class="layui-input-inline">
								<p id="good_all_price" class="layui-input" style="text-align: center;line-height: 40px">
								</p>
							</div>
						</div>
					</div>
					<div class="layui-form-item" style="padding-left: 265px">
						<label class="layui-form-label">收货地址</label>
						<div class="layui-input-block" style="width: 510px">
							<select name="address" id="address" lay-verify="required"  lay-search="" lay-filter="setInfo">
								<option value=""></option>
							</select>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">收货人</label>
							<div class="layui-input-inline">
								<p id="userName" class="layui-input" style="text-align: center;line-height: 40px">
								</p>
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">联系方式</label>
							<div class="layui-input-inline">
								<p id="userTel" class="layui-input" style="text-align: center;line-height: 40px">
								</p>
							</div>
						</div>
					</div>
				</div>
				</form>

			<div class="box_sub_total">
				<a class="btn btn_finalize" onclick="submitOrder()">提交订单</a>
			</div>
			<div class="box_sub_total">
				<a onclick="popup1()"><i class="layui-icon layui-icon-login-wechat" style="font-size: 50px; color: #1E9FFF;"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<a onclick="popup2()"><i class="layui-icon layui-icon-rmb" style="font-size: 50px; color: #1E9FFF;"></i></a>
			</div>

		</div>
		<div id="foot"></div>
	</div>

	<script src="lib/layui-v2.5.4/layui.js" charset="utf-8"></script>
	<script src="assets/jquery-1.12.4.js"></script>


	<script>
        $("#head").load("/head");//加载头部
        $("#foot").load("/foot");//加载尾部
		var Data;
		var personAddressId;
        layui.use(['layer', 'form'], function(){
            var layer = layui.layer
                ,form = layui.form
                ,$ = layui.$;
            getAddress();
            getshopcar();
            var shopCarId=$("#shopCarId").val();
            submitOrder=function () {
                    $.ajax({
                    url: "/orders/saveOrder",
                    type: 'post',
                    dataType:'json',
					data:{
                        "shopCarId":shopCarId,
						"personAddressId":personAddressId,
					},
                    success: function (data) {
                        if (data.code == 0) {

                        }
                        else {
                            layer.msg(
                                data.msg,
                                {
                                    icon: 5,//失败的表情
                                    time: 1000 //1秒关闭（如果不配置，默认是3秒）
                                })
                        }

                    }
                })

            }
            function getAddress() {
                $.ajax({
                    url: '/address/getAddress',
                    dataType: 'json',
                    async: true,
                    type: 'get',
                    success: function (data) {
                        if(data.code==0){
							Data=data.data;
                            $.each(Data, function (index, item) {
                                $('#address').append(new Option(item.addressDescription,item.personAddressId));// 下拉菜单里添加元素
                            });
                        }
                        else {
                            layer.msg(
                                "获取资源数据失败",
                                {
                                    icon:6
                                }
                            )
                        }
                        form.render('select');
                    }
                });
            }
            form.on('select(setInfo)', function(data){
                var val=data.value;
				for (var i=0;i<Data.length;i++){
				    if(Data[i].personAddressId==val){
                        $("#userName").text(Data[i].userName);
                        $("#userTel").text(Data[i].userTel);
                        personAddressId=val;
					}
				}

            });

            function getshopcar() {
                $.ajax({
                    url: "/shopcar/getshopcar",
                    type: 'get',
                    dataType:'json',
                    success: function (data) {
                        if (data.code == 0) {
                            var count = data.count;
                            var data = data.data;
                            for (var i = 0; i < data.length; i++) {
                                var nowdata=data[i];
                                if (nowdata.shopcarId==shopCarId){
                                    var goodsName= nowdata.goods.goodsName;
                                    $("#goodName").text(goodsName);
                                    $("#good_price").text(nowdata.goodsNorms[0].goodsNowPrice);
                                    $("#good_number").text(nowdata.count);
                                    $("#goods_norms_id").text(nowdata.goodsNorms[0].goodsName);
                                    $("#good_all_price").text(nowdata.goodsNorms[0].goodsNowPrice*nowdata.count);
								}
							}
                        }
                        else {
                            layer.msg(
                                data.msg,
                                {
                                    icon: 5,//失败的表情
                                    time: 1000 //1秒关闭（如果不配置，默认是3秒）
                                })
                        }

                    }
                })
            }
            popup1 = function () {
                layer.open({
                    type:1,
                    area:[],
                    title: '支付',
                    shade: 0,
                    btn: ['确认', '取消']
                    ,btn1: function(){
                       layer.msg('微信支付中......');
                    },
                    btn2: function(){
                        layer.closeAll();
                    },
                    cancel: function(layero,index){
                        layer.closeAll();
                    }
                });
            }
            popup2 = function () {
                layer.open({
                    type:1,
                    area:[],
                    title: '支付',
                    shade: 0,
                    btn: ['确认', '取消']
                    ,btn1: function(){
                        layer.msg('支付宝支付中......');
                    },
                    btn2: function(){
                        layer.closeAll();
                    },
                    cancel: function(layero,index){
                        layer.closeAll();
                    }
                });
            }
        });
	</script>
</body>
</html>