<!DOCTYPE html>
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<title>Bambino</title>
	<link rel="stylesheet" href="css/fancySelect.css" />
	<link rel="stylesheet" href="css/uniform.css" />
	<link rel="stylesheet" href="css/jquery.bxslider.css" />
	<link href="css/jquery-ui-1.10.4.custom.css" rel="stylesheet">
	<link rel="stylesheet" href="css/all.css" />
	<link media="screen" rel="stylesheet" type="text/css" href="css/screen.css" />
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
<input type="hidden" id="categoryId" th:value="${categoryId}">
<input type="hidden" id="goodsName" th:value="${goodsName}">
	<div id="wrapper">
		<div class="wrapper-holder">
			<div id="head"></div>
			
			<section class="main">
				<div class="content">
					<section class="bar">
						<div class="bar-frame">
							<ul class="breadcrumbs">
								<li><a href="/index">首页</a></li>
								<li>商品列表</li>
							</ul>
						</div>
					</section>
					<ul class="item-product" id="goodList">
					</ul>
					<div class="top-bar top-bar-add">
						<ul class="paging">
							<li><a onclick="getGoods('f')">首页</a></li>
							<li class="prev"><a onclick="getGoods('p')">上一页</a></li>
							<li><a id="current">1</a></li>
							<li class="next"><a onclick="getGoods('n')">下一页</a></li>
							<li><a onclick="getGoods('e')">尾页</a></li>
						</ul>
					</div>
				</div>
			</section>
		</div>
		<div id="foot"></div>
	</div>
	
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jcarousellite.js"></script>
	<script type="text/javascript" src="js/jquery.placeholder.js"></script>
	<script type="text/javascript" src="js/jquery.uniform.min.js"></script>
	<script type="text/javascript" src="js/fancySelect.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.js"></script>
	<script src="js/jquery-ui-1.10.4.custom.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script>
		//商品列表的展示控制函数
        getGoods('f');
        var page=1;
        var total=1;
        function getGoods(opt) {
            switch (opt) {
                case 'f':page=1;break;
                case 'p':page=page<=1?1:page-1;break;
                case 'n':page=page>=Math.ceil(total/8)?Math.ceil(total/8):page+1;break;
                case 'e':page=Math.ceil(total/8);break;
				default:return;
            }
            $.ajax({
                url: "/goods/getGoodsInfo",
                type: 'get',
                dataType:'json',
                data:{
                    "page":page,
                    "limit":8,
					"categoryId":$("#categoryId").val(),
					"goodsName":$("#goodsName").val()
                },
                success: function (data) {
                    if (data.code == 0) {
                        total=data.count;
                        var data = data.data;
                        var html = '';
                        for (var i = 0; i < data.length; i++) {
                            var imagesUrl=data[i].goodsImages.goodsImagesUrl;
                            var imageUrl=imagesUrl.split(',');
                            var goods=data[i].goods;
                            var goodsNormsList=data[i].goodsNormsList;
                            var goodsId=goods.goodsId;
                            html +=
                                '<li>'+
                                '<div class="item">'+
                                '<a href="/product?goodsId='+goodsId+'">'+
                                '<div class="image" style="width: 250px;height: 290px">'+
                                '<img src="'+imageUrl[0]+'" alt="图片加载失败" lay-src="images/loading.gif">'+
                                '</div>'+
                                '<span class="name">'+goods.goodsName+'</span>'+
                                '<span>'+goodsNormsList[0].goodsOldPrice+'</span>'+
                                '</a>'+
                                '</div>'+
                                '</li>';
                        }
                        if(data.length == 0){
                            html += '<p style="width: 100%;text-align: center">暂无商品</p>';
						}
                        html += '</div>';

                        $("#goodList").html(html);
                        $("#current").html(page);
                    }
                    else {
                        layer.msg(
                            data.msg,
                            {
                                icon: 5,//失败的表情
                                time: 1000 //1秒关闭（如果不配置，默认是3秒）
                            })
                    }

                }
            })
        }

        $("#head").load("/head");//加载头部
        $("#foot").load("/foot");//加载尾部
	</script>
</body>
</html>