<!DOCTYPE html>
<!--[if lte IE 8]> <html class="oldie" lang="en"> <![endif]-->
<!--[if IE 9]> <html class="ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<title>个人中心</title>
	<link rel="stylesheet" href="css/fancySelect.css" />
	<link rel="stylesheet" href="css/uniform.css" />
	<link rel="stylesheet" href="css/jquery.bxslider.css" />
	<link href="css/jquery-ui-1.10.4.custom.css" rel="stylesheet">
	<link rel="stylesheet" href="css/all.css" />
	<link media="screen" rel="stylesheet" type="text/css" href="css/screen.css" />
	<link rel="stylesheet" href="../lib/layui-v2.5.4/css/layui.css" media="all">
	<link rel="stylesheet" href="../css/public.css" media="all">

	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<div id="wrapper">
		<div class="wrapper-holder">

			<div id="head"></div>
				<form class="layui-form layui-form-pane" id="details" style="">
				<div style="text-align: center">
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">用户账号</label>
							<div class="layui-input-inline">
								<input id="account" lay-verify="required|phone" autocomplete="off" class="layui-input" >
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">真实姓名</label>
							<div class="layui-input-inline">
								<input id="realName" lay-verify="email" autocomplete="off" class="layui-input" >
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">用户昵称</label>
							<div class="layui-input-inline">
								<input  lay-verify="required|phone" autocomplete="off" class="layui-input nickname">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">用户性别</label>
							<div class="layui-input-inline">
								<input id="sex" lay-verify="email" autocomplete="off" class="layui-input" >
							</div>
						</div>
					</div>
					<div class="layui-form-item" style="padding-left: 265px">
						<label class="layui-form-label">身份证号</label>
						<div class="layui-input-block">
							<input id="idCard" lay-verify="title" autocomplete="off" placeholder="请输入身份证号" class="layui-input" style="width: 300px">
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">用户角色</label>
							<div class="layui-input-inline">
								<input  lay-verify="required|phone" autocomplete="off" class="layui-input roleId">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">用户状态</label>
							<div class="layui-input-inline">
								<input lay-verify="email" autocomplete="off" class="layui-input userStatus">
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">联系方式</label>
							<div class="layui-input-inline">
								<input id="phone" lay-verify="required|phone" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">邮箱</label>
							<div class="layui-input-inline">
								<input id="email" lay-verify="email" autocomplete="off" class="layui-input">
							</div>
						</div>
					</div>
				</div>
			</form>
				<form class="layui-form layui-form-pane" id="test" style="display: none">
				<div style="text-align: center">
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">真实姓名</label>
							<div class="layui-input-inline">
								<input id="realName2" lay-verify="email" autocomplete="off" class="layui-input" >
							</div>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">用户昵称</label>
							<div class="layui-input-inline">
								<input  lay-verify="required|phone" autocomplete="off" class="layui-input nickname" id="nickname2">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">用户性别</label>
							<div class="layui-input-inline">
								<input id="sex2" lay-verify="email" autocomplete="off" class="layui-input" >
							</div>
						</div>
					</div>
					<div class="layui-form-item" style="padding-left: 150px">
						<label class="layui-form-label">身份证号</label>
						<div class="layui-input-block">
							<input id="idCard2" lay-verify="title" autocomplete="off" placeholder="请输入身份证号" class="layui-input" style="width: 200px">
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-inline">
							<label class="layui-form-label">联系方式</label>
							<div class="layui-input-inline">
								<input id="phone2" lay-verify="required|phone" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-inline">
							<label class="layui-form-label">邮箱</label>
							<div class="layui-input-inline">
								<input id="email2" lay-verify="email" autocomplete="off" class="layui-input">
							</div>
						</div>
					</div>
				</div>
			</form>
				<form class="layui-form layui-form-pane" id="test2" style="display:none">
					<div class="layui-form-item" >
						<input type="hidden" id="userId">
						<div class="layui-inline" style="margin: 10px">
							<label class="layui-form-label" style="width: 100px">原密码</label>
							<div class="layui-input-inline">
								<input type="text"  id="oldPassword" autocomplete="off" class="layui-input" style="width: 300px">
							</div>
						</div>
					</div>
					<div class="layui-form-item" >
						<div class="layui-inline" style="margin: 10px">
							<label class="layui-form-label" style="width: 100px">新密码</label>
							<div class="layui-input-inline">
								<input type="text" id="newPassword" autocomplete="off" class="layui-input" style="width: 300px">
							</div>
						</div>
					</div>
					<div class="layui-form-item" >
						<div class="layui-inline" style="margin: 10px">
							<label class="layui-form-label" style="width: 100px">确认密码</label>
							<div class="layui-input-inline">
								<input type="text" id="reNewPassword" autocomplete="off" class="layui-input" style="width: 300px">
							</div>
						</div>
					</div>
				</form>
			<div class="layui-btn-group" style="padding-left: 550px">
				<a onclick="editt()" class="layui-btn layui-btn-xs data-count-edit" lay-event="edit">编辑</a>
				<a onclick="editPasswrdBox()" class="layui-btn layui-btn-xs data-count-edit" lay-event="edit">修改密码</a>
			</div>
		</div>

		<div id="foot"></div>
	</div>
	
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="js/jcarousellite.js"></script>
	<script type="text/javascript" src="js/jquery.placeholder.js"></script>
	<script type="text/javascript" src="js/jquery.uniform.min.js"></script>
	<script type="text/javascript" src="js/fancySelect.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.js"></script>
	<script src="js/jquery-ui-1.10.4.custom.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
	<script src="lib/layui-v2.5.4/layui.js" charset="utf-8"></script>

	<script>
        $("#head").load("/head");//加载头部
        $("#foot").load("/foot");//加载尾部
        layui.use(['form', 'table'], function () {
            var $ = layui.jquery,
                form = layui.form,
                table = layui.table;
            var UserData;

            /**
			 * 点击编辑的触发函数
			 * */
           editt= function(){
              	 var data = UserData;
				$("#userId").val(data.userId);
				$("#realName2").val((data.realName));
				$(".nickname").val(data.nickname);
				$("#sex2").val((data.sex));
				$("#idCard2").val((data.idCard));
				$("#phone2").val((data.phone));
				$("#email2").val((data.email));
               editBox();
           };

            /**
             * 弹出编辑框
             */
            function editBox() {
                layer.open({
                    type:1,
                    area:[],
                    title: '个人信息编辑',
                    content:$("#test"),
                    shade: 0,
                    btn: ['提交', '取消']
                    ,btn1: function(){
                        saveUser();
                    },
                    btn2: function(){
                        $("#test").css("display","none");
                        layer.closeAll();
                    },
                    cancel: function(layero,index){
                        $("#test").css("display","none");
                        layer.closeAll();
                    }
                });
            }

			/**
			 *弹出密码修改框
			 * */
           editPasswrdBox = function () {
               layer.open({
                   type:1,
                   area:["500px"],
                   title: '密码修改',
                   content:$("#test2"),
                   shade: 0,
                   btn: ['提交', '取消']
                   ,btn1: function(){
                       checkPassword();
                   },
                   btn2: function(){
                       $("#test2").css("display","none");
                       layer.closeAll();
                   },
                   cancel: function(layero,index){
                       $("#test2").css("display","none");
                       layer.closeAll();
                   }
               });
           };
			/**
			 * 校验密码
			 * */
			checkPassword = function () {
				var oldPassword = $("#oldPassword").val();
                var newPassword = $("#newPassword").val();
                var reNewPassword = $("#reNewPassword").val();
                if(newPassword == reNewPassword){
                    $.ajax({
                        url:"/user/editPassword",
                        type:'post',
                        data:{
                            "oldPassword":oldPassword,
                            "newPassword":newPassword,
                        },
                        success:function(data){
                            if(data.code == 0){
                                $("#test2").css("display","none");
                                layer.closeAll();
                                layer.msg(data.msg,
                                    { icon: 6,//成功的表情
                                        time: 1000 //1秒关闭（如果不配置，默认是3秒）
                                    });
                            }
                            else {
                                layer.msg(
                                    data.msg,
                                    { icon: 5,//失败的表情
                                        time: 1000 //1秒关闭（如果不配置，默认是3秒）
                                    })
                            }

                        }
                    });
				}else {
                    layer.msg(
                        "密码不一致",
                        { icon: 5,//失败的表情
                            time: 1000 //1秒关闭（如果不配置，默认是3秒）
                        })
				}
            };

            function saveUser() {
                var realName=$("#realName2").val();
                var nickname=$("#nickname2").val();
                var sex=$("#sex2").val();
                var idCard=$("#idCard2").val();
                var phone=$("#phone2").val();
                var email=$("#email2").val();
                $.ajax({
                    url:"/user/saveOrUpdateUser",
                    type:'post',
                    data:{
                        "userId":UserData.userId,
                        "realName":realName,
                        "nickname":nickname,
                        "sex":sex,
                        "phone":phone,
                        "email":email,
                        "idCard":idCard,
                    },
                    success:function(data){
                        if(data.code == 0){
                            layer.closeAll();
                            $("#test").css("display","none");
                            getUserDetailsByUserId();
                            layer.msg(
                                data.msg,
                                { icon: 6,//成功的表情
                                    time: 1000 //1秒关闭（如果不配置，默认是3秒）
                                },function(){
                                })
                        }
                        else {
                            layer.msg(
                                data.msg,
                                { icon: 5,//成功的表情
                                    time: 1000 //1秒关闭（如果不配置，默认是3秒）
                                })
                        }

                    }
                });
            }

            function statusToName(userStatus) {
                switch (userStatus)
                {
                    case 0: return "逻辑删除";
                    case 1: return "正常";
                    case 2: return "锁定";
                    case 3: return "违规";
                    default: return "数据异常";
                }
            }
            /**
             *角色id与角色名字的映射
             */
            function RoleIdToName(roleId){
                var val=null;
                $.ajax({
                    url:"/role/roleIdToName",
                    type:'get',
                    async:false,
                    dataType:"json",
                    data:{
                        "roleId":roleId,
                    },
                    success:function(data){
                        if(data.code == 0){
                            val= data.data.roleName;
                        }
                        else {
                            val="数据映射错误";
                        }

                    }
                });
                return val;
            }
            /**
			 * 获取用户的详细信息
             */
            getUserDetailsByUserId();
            function getUserDetailsByUserId() {
                $.ajax({
                    url:"/user/getUserDetails",
                    type:'get',
                    dataType:"json",
                    success:function(data){ //服务器返回的数据
                        if(data.code == 0){
                            UserData=data.data;
                            var Data=data.data;
                            $("#account").val(Data.account);
                            $("#realName").val(Data.realName);
                            $(".nickname").val(Data.nickname);
                            $("#sex").val(Data.sex);
                            $("#idCard").val(Data.idCard);
                            $(".roleId").val(RoleIdToName(Data.roleId));
                            $(".userStatus").val(statusToName(Data.userStatus));
                            $("#phone").val(Data.phone);
                            $("#email").val(Data.email);
                        }
                        else {
                            layer.msg(
                                data.msg,
                                { icon: 5,//失败的表情
                                    time: 1000 //1秒关闭（如果不配置，默认是3秒）
                                })
                        }
                    }
                });
            }
        });
	</script>
</body>
</html>